body {
  font-size: 18px;
  /* font-family: sans-serif; */
  -webkit-text-size-adjust: 100%;
  width: 1440px;
  text-align: center;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: "SQMarket", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
p {
  color: #2f3337;
  font-size: 16px;
  font-family: "SQMarket", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

/* header is starteed */

.header {
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  display: flex;
  z-index: 2;
  position: fixed;
  background-color: white;
  width: 1440px;
  height: 27px;
  margin: 0px;
  margin-top: -10px;
  margin-left: -10px;
  padding: 30px;
  align-items: center;
}
.website {
  display: flex;
  justify-content: space-between;
  width: 340px;
  margin-left: 130px;
  font-weight: bold;
}
.noncolor {
  color: black;
  text-decoration: none;
}
.logotype {
  margin-left: 220px;
}
.headbtn {
  margin-left: 230px;
}
.loginbtn1 {
  border: none;
  color: black;
  font-weight: bold;
  background-color: white;
  height: 40px;
  width: 100px;
  font-size: 18px;
}
.signupbtn2 {
  border: 1px solid #3374ff;
  color: #3374ff;
  font-weight: bold;
  background-color: white;
  height: 40px;
  width: 100px;
  font-size: 17px;
}

/* header is ended */

/* section1 is started */
.section1 {
  padding-right: 130px;
  padding-left: 130px;
  padding-top: 100px;
  padding-bottom: 0px;
}
.build-web {
  background-image: url("assest/image/header.webp");
  z-index: -1;
  background-size: 100%;
  background-repeat: no-repeat;
  width: 1250px;
  height: 500px;
  margin-top: -13px;
}
.h1 {
  font-weight: bolder;
  font-size: 40px;
  width: 780px;
  margin-left: 260px;
}
.build {
  margin-top: 50px;
}
.createbtn3 {
  border: 1px solid #3374ff;
  color: white;
  font-weight: bold;
  background-color: #3374ff;
  height: 40px;
  width: 250px;
  border-radius: 5px;
  font-size: 17px;
}

/* section1 is ended */

/* section2 is started */
.section2 {
  width: 480px;
  margin-left: 500px;
}
.h2build {
  font-size: 35px;
}
.getstartedbtn4 {
  border: 1px solid #3374ff;
  color: white;
  font-weight: bold;
  background-color: #3374ff;
  height: 40px;
  width: 150px;
  border-radius: 5px;
  font-size: 17px;
}
.morebtn5 {
  border: none;
  color: #3374ff;
  font-weight: bold;
  background-color: white;
  height: 40px;
  width: 180px;
  font-size: 18px;
}
.sec2btn {
  margin-top: 40px;
  margin-bottom: 40px;
}
/* section2 id ended */

.manyimages {
  height: 350px;
  width: 1440px;
}

/* section3 is started */

.h2succeed {
  width: 400px;
  margin-top: 70px;
  margin-left: 520px;
}
.section3 {
  margin-bottom: 90px;
}

.iconsimg {
  width: 1200px;
}
.sec3all {
  display: flex;
  width: 1200px;
  justify-content: space-around;
  margin-left: 120px;
}
.alldiv {
  width: 250px;
}
.learnmore {
  border: none;
  color: #3374ff;
  font-weight: bold;
  background-color: white;
  height: 40px;
  width: 180px;
  font-size: 20px;
  text-decoration: none;
}
.learnmore:hover {
  color: #0756ff;
}
/* section3 is ended*/

/* section4 is started */
.signupbtn6 {
  border: none;
  color: white;
  font-weight: bold;
  background-color: #3374ff;
  height: 40px;
  width: 120px;
  font-size: 16px;
  border-radius: 5px;
}
.freedom {
  width: 440px;
  margin-left: 530px;
  margin-top: 80px;
}
.freedompara {
  width: 700px;
  margin-left: 400px;
  margin-top: 40px;
}
.freedomdiv {
  margin-top: 45px;
  margin-left: 120px;
  margin-bottom: 45px;
}

/* section4 is ended*/

/* section5 is started  */
.img1 {
  width: 1440px;
  height: 720px;
  z-index: -1;
}
.img2 {
  width: 900px;
  height: 700px;
  z-index: 2;
  position: absolute;
  margin-left: -1200px;
  margin-top: 380px;
}
/* section5 is ended  */

/* section6 is started  */
.section6 {
  margin-top: 420px;
}
.itspara {
  font-size: 12px;
}
.h2section6 {
  width: 500px;
  margin-left: 480px;
}
.groupgirls {
  width: 940px;
}
.join {
  width: 540px;
  font-size: 19px;
  margin-left: 500px;
  margin-bottom: 100px;
}
/* section6 is ended  */

/* section7 is started  */
.sec7para {
  width: 520px;
  margin-left: 460px;
  margin-bottom: 60px;
}
.girl1 {
  width: 1440px;
}
.last {
  padding: 80px;
  background-color: #f5f6f7;
}
.getstartedbtn9 {
  border: 1px solid #3374ff;
  color: white;
  font-weight: bold;
  background-color: #3374ff;
  height: 40px;
  width: 230px;
  border-radius: 5px;
  font-size: 16px;
}

/* section7 is ended  */

/* footer is started */
.footer {
  display: flex;
  margin: 100px;
  width: 1000px;
  justify-content: space-between;
  margin-left: 220px;
  text-align: left;
}

.para {
  color: black;
  text-decoration: none;
  font-family: "SQMarket", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
.socialmedia {
  display: flex;
  margin-left: 560px;
}
.social {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  cursor: pointer;
  padding: 4px;
}
